# LangChain ecosystem
langchain
langchain_core
langchain_community
langchain_openai
langchain_text_splitters

# Embeddings and Tokenization
openai
tiktoken

# Streamlit app
streamlit

# Vector DB
chromadb

# Environment variables
python-dotenv

# Utilities and Web
requests
bs4
pytube
yt_dlp
youtube-transcript-api
pypdf
gdown

# Git utilities (if you are using GitLoader from LangChain)
GitPython

selenium
webdriver-manager
unstructured
openai

# AirFlow requirements file

python_version >= "3.12.0"
weaviate-client==4.14.1
fastembed==0.6.1
ipython