langchain==0.3.25
langchain_community==0.3.24
langchain_core==0.3.59
langchain_openai==0.3.16
langchain_text_splitters==0.3.8
python-dotenv==1.1.0
pytube==15.0.0
Requests==2.32.3
streamlit==1.45.0
web3==7.11.0
